server:
  port: 8080

spring:
  profiles:
    active: client
    include: database, jwt, oauth, redis, crypto, llm

---

spring:
  application:
    name: module-app-choisinsa-kt
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 1000
        use_sql_comments: true
    open-in-view: true
    session:
      store-type: jdbc
  h2:
    console:
      enabled: true
      path: '/h2-console'

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
